.App {
  margin: auto;
  margin-top: 25px;
  
}
.container {
  margin: auto;
  display: flex;
  gap: 25px;
}
h1:after {
  display: block;
  content:'';
  height: 2px;
  width: 100%;
  /* margin-top: 5px; */
  background-color: white;
}
.Post-container {
  width: 250px;
}
.Post-container:after {
  display: block;
  border-right: 1px solid white;
}
.Post-wrapper {
  padding-inline: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Answers-container {
  width: 500px;
  padding-left: 50px;
}
  .answer-posts {
      padding-inline: 5px;
      display: flex;
      flex-direction: column;
      gap: 15px;
  }

@media (max-width: 580px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
}